// ======================================================
// Components / Fireworks
// ======================================================

.c-fireworks {
  position: absolute;
  z-index: 2;
}

.c-fireworks_group {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.c-fireworks_tiny-firework {
  z-index: 1;
  position: absolute;

  .c-fireworks.-top & {
    bottom: 0;
  }
  .c-fireworks.-right & {
    left: 0;
  }
  .c-fireworks.-bottom & {
    top: 0;
  }
  .c-fireworks.-left & {
    right: 0;
  }
}
